

.bmi-form{
    margin-top: 20px;          
}

.weight-graph{
    background-color: rgba(136, 196, 163, 0.822);
    border-radius: 5px;
    margin: 5%;
}

@media screen and (min-width: 901px) {

    .g-con{
        float: left;
        margin-top:5%; 
        margin-left: 10%;
    }

      
    .bmi-view{
        float: right;
        margin-top: 5%;
        margin-right: 5%;
    }

    
}