

.tr-page-title> h1{
    font-size: 1.5em;
}

.selector-con{
    color: rgb(216, 208, 216);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(12, 49, 28), 0 0 5px rgb(39, 87, 57);
    width: 85%;
    margin:auto;
}

.eat-con, .symp-con{
    margin: 10%;
}

.eat-con> p, .symp-con> p{
    background: rgb(80, 136, 136);
    border-radius: 5px;
}

.t-pick{
    width: 100%;
    border-radius: 5px;
}

.rc-time-picker-clear{
    display: none;
}

.rc-time-picker-input{
    color: black;
    font-size: 15px;
}

select{
    min-width: 100%;
    border-radius: 5px;
}

.eat-con> .btn, .symp-con> .btn{
    background-color: rgb(80, 136, 136);
}

.tr-view{  
    margin: 10px;
    display: table;
    font-size: 0.6em;

}

.tr-view> .eat-view, .tr-view> .symp-view {
    display: table-cell;
    text-align: left;
    width: 48%;
    background:  rgba(136, 196, 163, 0.822);
    border-radius: 10px;
}

.mrn> p, .eve> p {
    padding: 1px;   
    margin: 0px;
}

.mrn,.eve{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.mrn{
    background: rgba(196, 245, 212, 0.753);   
}
.eve{
    background: rgba(188, 214, 245, 0.767); 
}


@media screen and (min-width: 901px) {

    .tr-page-title> h1{
        font-size: 2em;
    }

    .selector-con{
        float: right; 
    }

    .tr-view{  
        margin-top: 5%;
        float: left;
        margin-left: 15%; 
        font-size: 1em;

    }
}