

.carousel-contaner{
    border: solid rgb(42, 38, 105);
    border-radius: 5px;
    margin: 5%;
    background-color: rgba(136, 196, 163, 0.822);
}

.item-title{
    min-height: 120px;
    color:rgb(42, 38, 105);
    padding: 2%;
}

img{
    min-height: 400px;
    max-height: 450px;
 }

.btn-con> .btn{
    margin-left: 9%;
    margin-right: 9%;
    width: 110px;
}

.btn-con> .btn{   
    background-color: rgb(80, 136, 136);
}

.title{
    font-family: 'Srisakdi', cursive;
    padding-bottom: 40px;
}

.title> h1{
    font-style: italic;
    font-size: 4em;
    padding: 15px;
    text-shadow: 2px 2px 5px rgb(50, 112, 74);
}

.nutrit{
    padding-bottom: 40px;
    font-style: italic;
    color: rgb(42, 38, 105);
    text-shadow: 2px 2px 5px rgb(50, 112, 74);
}

.nutrit> h2{
    font-size: 1.7em;
}

.carousel-caption{
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(12, 49, 28), 0 0 5px rgb(39, 87, 57);
}

@media screen and (min-width: 901px) {

    .home{
        direction: rtl;     
    }

    .title{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .title> h1{
        font-size: 5em;
        padding: 20px;
    }

    .nutrit{
        float: right;
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 20px;
    }

    .nutrit> h2{
        font-size:2em;
    }

    .btn-con{
        float: left;
        margin-left: 20%;
        margin-right: 10%;
    }

    .btn-con> .btn{
        display: block;
        margin: 50px;
        width: 220px;
    }
    
    .carousel-contaner{
        min-width: 340px;
        clear: right;
        overflow: auto; 
        margin-right: 10%;
    }

    img{
        min-height: 400px;
        max-height: 410px;
    }

}