


.babble{
    color:  rgb(42, 38, 105);

}


.group> .list-item{
    margin-top: 10px;
    background: rgba(136, 196, 163, 0.822);
    color: black;
}

.group{
    margin-top: 30px;
    height: 1000px;
    margin-right: 10%;
    margin-left: 10%;
}

@media screen and (min-width: 901px) {

    .group> .list-item{
        text-align: left;      
    }

    .babble{
        margin-left: 25px;
    }

    .name-bbl{
        margin-left: 30%;
    }

    
}
