


.babble{
    color: rgb(42, 38, 105);
}

.name-bdg> h4{
    font-size: 1.7em;
}

.name-bdg{
    margin: 0px
}

.group> .list-item{
    display: table;
    margin-top: 10px;
    background: rgba(136, 196, 163, 0.822);
    color: black;
}

.group{
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    min-height: 400px;
}

@media screen and (min-width: 901px) {

    .group> .list-item{
        text-align: left;      
    }

    .babble{
        margin-left: 10%;
    }

    .name-bdg{
        margin-left: 30%;
    }

    
}
