
@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.App {
  text-align: center;
  background-image: url("https://storage.needpix.com/rsynced_images/sunrise-438339_1280.jpg");
  background-position-x: right;
  background-size: cover;
  background-color: #9ddb9d; 
  padding-bottom: 10px;
}

.navbar{
  background: rgba(188, 250, 108, 0.603);
}

.navbar-brand{
  font-family: 'Srisakdi', cursive;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(50, 112, 74);
}

.nav-link{
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(96, 163, 122);

}

.fillScr{
  min-height: 1000px; 
}

.fas{
  padding-left: 5px;
}